/*=======  About  =======*/
.about-text {
    .about-author {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid #e2e2e2;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;

        @include respond-below(sm) {
            flex-wrap: wrap;
        }

        .author-img {
            margin-right: 30px;
            width: 80px;
            flex: 0 0 80px;

            @include respond-below(sm) {
                margin-right: 20px;
            }
        }

        h5 {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .brand-img {
            margin-left: auto;
            opacity: 0.5;

            @include respond-below(xl) {
                max-width: 140px;
            }

            @include respond-below(sm) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 30px;
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        color: $black;

        li {
            width: 50%;
            flex: 0 0 50%;
            margin-bottom: 10px;

            @include respond-below(lg) {
                font-size: 14px;
            }

            @include respond-below(md) {
                width: 100%;
                flex: 0 0 100%;
            }
        }

        i {
            color: $primary-color-2;
            margin-right: 15px;
        }
    }

    &.about-text-two {
        .about-author span {
            color: $primary-color-2;
        }
    }
}

.about-experience {
    position: relative;
    text-align: left;

    @include respond-below(md) {
        padding-bottom: 60px;
    }

    .experience-tag {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        @include respond-below(xxl) {
            right: -30px;
        }

        @include respond-below(md) {
            bottom: 0;
            top: auto;
            right: 50%;
            transform: translateX(50%);
        }
    }
}

.about-experience-galley {
    position: relative;
    z-index: 1;
    height: 700px;
    width: 100%;

    @include respond-below(md) {
        height: 610px;
    }

    .image-one,
    .image-two,
    .image-three {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
    }

    .image-one {
        width: 380px;
        height: 380px;
        left: 0;
        top: 0;
        z-index: 1;

        @include respond-below(md) {
            width: 300px;
            height: 300px;
        }
    }

    .image-two {
        right: 20px;
        bottom: 0;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
        width: 400px;
        height: 500px;
        z-index: 2;

        @include respond-below(md) {
            width: 320px;
            height: 380px;
        }
    }

    .image-three {
        left: 15px;
        top: 400px;
        height: 200px;
        width: 200px;
        z-index: 1;

        @include respond-below(md) {
            top: 370px;
        }
    }

    .experience-tag {
        position: absolute;
        top: 15px;
        left: 410px;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
        width: 164px;
        height: 164px;
        line-height: 1;
        background-color: $white;
        border-bottom: 4px solid $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-below(md) {
            left: 335px;
        }

        span {
            display: block;
            text-align: center;
            font-size: 14px;

            .count {
                color: $secondary-color;
                font-weight: 700;
                font-size: 60px;
                margin-bottom: 5px;

                &::after {
                    content: "+";
                    color: $primary-color;
                    font-size: 16px;
                }
            }
        }
    }
}
