/*=======  Counter  =======*/
.counter-inner {
    background-color: $white;
    border: 2px solid #e8f6f5;
    background-color: $white;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    padding: 70px 70px 30px;

    @include respond-below(xl) {
        padding: 70px 45px 30px;
    }

    .counter-box {
        margin-bottom: 40px;

        .counter-wrap {
            font-weight: 700;
            color: $primary-color;
            font-size: 18px;
            margin-bottom: 15px;
            line-height: 1;

            i {
                margin-right: 5px;
            }
        }

        .title {
            font-size: 28px;
            font-weight: 600;

            @include respond-below(xxl) {
                font-size: 24px;
            }

            @include respond-below(xl) {
                font-size: 20px;
            }
        }
    }
}
